@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body {
    background-image: url("imagens/img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    max-width: 25rem;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 3rem;
    backdrop-filter: blur(55px);
}

.header h1 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

.inputbox {
    margin: 30px 0;
    max-width: 19rem;
    border-bottom: 2px solid #fff;
}

.inputbox input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: #fff;
    
}

.inputbox input::placeholder {
    font-size: 1rem;
    color: #fff;
}

.inputCheckbox {
    margin: 35px 0 30px 0;
    font-size: 0.95rem;
    color: #fff;
}

.forget {
    margin: 30px 0 35px 0;
}

.forget a {
    font-size: 0.95rem;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.forget a:hover {
    text-decoration: underline;
}


.login button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(255, 255, 255, 1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
}

.login button:hover {
    background-color: rgb(255, 255,255, 0.5);
}

.register {
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

